DATABASE_URL=postgresql+psycopg://zylo_user:una_password_segura@159.112.142.234:5432/herramientas_db
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_app_password_de_gmail
MAIL_FROM=tu_correo@gmail.com
MAIL_FROM_NAME=Zylo
MAIL_STARTTLS=true
MAIL_SSL_TLS=false
MAIL_USE_CREDENTIALS=true
MAIL_VALIDATE_CERTS=true